/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #ebd9b9;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #781010 !important
}
.hero{
    display: grid;
    position: relative;
    color: #fff;
    width: 100%;
    height: 50px;
    z-index: 1;
    
}
/*===================MENU==========================*/
/*=========================================*/
.nav-menu{
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 0 10px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
    list-style: none;
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: #781010;
}

.nav-menu-logo{
    margin-left: 20%;
}

.nav-menu-main{
    display: flex;
    left:1%;
    position: relative;
}

.abrir-menu,
.cerrar-menu,
.nav__icon {
    display: none;
}

@media (min-width: 1037px){

    .list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        height: 100%;
    }

    .list__button > a{
        color: #ececec;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 2px;
    }

    .nav__link{
        display: block;
        padding: 15px 0;
        text-decoration: none;
        margin-top: 10px;
    }
}

@media (max-width: 1037px) {
    .abrir-menu, .cerrar-menu{
        display: block;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-size: 1.25rem;
       
    }
    
    .nav-menu-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #781010;
        visibility: hidden;
        width: 430px;
        height: 60%;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        gap: 1rem;
        padding: 2rem;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
        
    }
    
    .nav__link{
        color: #eadbc3;
        display: block;
        text-decoration: none;
        padding: 15px 0;
    }
    .nav__img{
        display: block;
        width: 30px;
        justify-content: right;
        
    }

    .nav-menu-main.visible{
        visibility: visible;
        opacity: 1;
    }
    
    .list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: #781010;
        width: 100%;
        height: 100vh;
        border-radius: 0 16px 16px 0;
    }
    
    .list__item{
        display: block;
        list-style: none;
        text-align: center;
        overflow: hidden;
        width: 100%;
    }
       
    .list__item--click{
        cursor: pointer;
    }
    
    .list__button{
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 1em;
        width: 70%;
    }
}
/*=================================*/

 .logo {
    float: right;
    width: 120px;
    height: 50px;
    overflow-x: hidden;
  }
/*===================SLIDER DE IMAGENES==========================*/

 .carousel-inner {
    max-height:35rem !important;
}
.carousel-inner2 {
    position: relative;
    left: 25%;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/*=====================Buscador========================*/


/*========================Informacion general================================*/
.info1 {
    display:inline-block;
    margin-left: 15%;
    width: 70%;
    height: 20%;
    border-radius: .3rem;
    background-color: #781010;
    z-index: 1;
  }
  #seccion-exhibiciones .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);

}
.card {
    margin-bottom: 30px;
}


.lead {
    font-size: 15px;
    width: 100%;
    height: 30%;
  }
  .lead2 {
    font-size: 15px;
    width: 100%;
    margin-top: 16%;
    height: 30%;
  }
.display-4 {
    font-size: 1.5rem;
    font-weight: 100%;
    color: #eadbc3;
    
  }
#informacionGeneral{
    background-color: #eadbc3;
    height: 100%;
}
#infogen {
    margin-top:0%;
    display:flex;
    justify-content: center; 
    
}
.wrapper-infogen {
    width:80%;
    margin-left:70px;
    padding-top:10px;
}
.infomuseo {
    background: url(../img/ancestrales.jpg);
    width: 100%;
    height:550px;
    background-repeat: no-repeat;
    margin-left:4%;
    margin-top:5%;
    }
.wrapper-info {
    width:100%;
    display:contents;
    margin-left:10px;
    padding-top:15px;
}
#bg-infogen{
        position:relative;
        margin-left: -10%;
    } 
    
#seccion-exhibiciones{
        height: 150%;
        
    }
    .mapa1{
        margin-top:50px;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
      }

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/

#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    
    background-color: #f1d4a2;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.wrapper-local {
    width:50%;
   
    padding-top:10px;
}
.carousel-inner3 {
    margin-top: 18%;
    position: relative;
    left: 25%;
    width: 100%;
    height: 200%;
    overflow:hidden;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #781010;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/

footer {
    background: #dfbf8e;;
    height: 200px;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    margin-top: 12%;
    font-size: 25px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}

